; activities module
; access rights
; 
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/activities
; 
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2021, 2023-2024 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
; 
; Syntax of this configuration file:
; 
; [key]: setting key
; - Field "description": description, just for information.
; - Field "type": type of setting, e. g. mail, number, foreign_key, etc.
; - Field "default": default value
; - Field "db_field": corresponding database field (table.field)
;

[activities_event_registration]
description = "create and view registrations for an event"
group = admin
condition[] = registration
condition_unless[] = series
condition_queries_module = events
page_placeholder_check = 1

[activities_form]
description = "access a public form"
group = public

[activities_formtemplates_default_edit]
description = "edit default templates for forms"
group = admin

[activities_formmail_send]
description = "send form mail after event"
group[] = admin
group[] = localhost

[activities_mailings]
description = "send mass mailings to participants of an event"
group = admin

[activities_participants]
description = "show participant list of an event"
group = "read and write"

[activities_participants_edit]
description = "show and edit participant list of an event"
group = "read and write"
include_access[] = activities_participants

[activities_participants_delete]
description = "show, edit and delete from participant list of an event"
group = admin
include_access[] = activities_participants_edit
include_access[] = activities_participants

["activities_profile[contact]"]
description = "read group memberships for contacts"
group = "read and write"

["activities_profile[usergroup]"]
description = "read usergroups"
group = "read and write"

["activities_profile[person]"]
description = "read group memberships for persons"
group = "read and write"

[activities_registration_applicants]
description = "read list of applicants per form"
group = "read and write"
include_access[] = activities_registration_forms
condition[] = applicants
page_placeholder_check = 1

[activities_registration_formdetails]
description = "edit templates and fields of a form"
group = "read and write"
include_access[] = activities_registration_forms
condition[] = form_id
page_placeholder_check = 1

[activities_registration_formtemplates_defaults]
description = "create mail templates for forms"
group = "admin"

[activities_registration_forms]
description = "create registration forms for websites"
group = "read and write"

[activities_registration_public]
description = "public form view"
group = public
condition[] = published

[activities_usergroups_edit]
description = "allow editing of usergroups"
group = "read and write"

[activities_usergroups_parameters]
description = "edit parameters of usergroups?"
group = admin
