; contacts module
; package information
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/contacts
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;

[about]
name = "activities module"
author = "Gustaf Mossakowski"
tagline = "Contact participation: forms, user groups, registrations, and activity tracking"

[categorytrees]
path[] = activities
path[] = field-types
path[] = forms
path[] = participation-status
path[] = participations
path[] = template-types
path[] = usergroups
