; activities module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/activities
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

["activities_contactdata_access[person]"]
description = "Edit access rights for contact data, person"
brick = "forms contacts-access *"
brick_local_settings[scope] = person
group = "read and write"

["activities_contactdata_access[*]"]
description = "Edit access rights for contact data, general contact"
brick = "forms contacts-access *"
brick_local_settings[scope] = 0
group = "read and write"

[activities_form]
description = "Public form on website"
brick = "forms registration"
group = public

[activities_formmail_send]
description = "Send form mail after event"
brick = "make formmail *"
group[] = admin
group[] = localhost

["activities_profile[*]"]
description = "Activities page of a contact"
brick = "forms participations-contacts *"
brick_local_settings[scope] = 0
group = "read and write"

["activities_profile[person]"]
description = "Activities page of a person"
brick = "forms participations-contacts *"
brick_local_settings[scope] = person
group = "read and write"

["activities_profile[usergroup]"]
description = "Internal profile page of a group"
brick = "request usergroup *"
group = "read and write"

[activities_registration_confirmation]
description = "Confirm a registration (double opt-in)"
brick = "make registrationconfirmation"
group = public
